/* 
* When possible include css in html file to speed up DOM
* construction. Only add things to sepperate file when
* neccessary (like if used by multiple pages).
*/

* {
    /* To apply to all elements*/
    /*border: 1px solid red !important; */
}

hr {
    border: 1px white solid;
    margin: 5px 10px 5px 10px;
}

.bgimg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

.npi-container {
    border: 5px #999999 solid;
    /*border: 5px solid rgb(255, 255, 255);
    border: 5px solid rgba(255, 255, 255, 1);
    -webkit-background-clip: padding-box; /* for Safari */
    /*background-clip: padding-box; */        /* for IE9+, Firefox 4+, Opera, Chrome */
    /*padding: 0px;
    margin: 0px;
    display:block;*/
    border-radius: 10px;
    background-color: rgba(200, 200, 200, .25);
    /*opacity: 0.4;*/
}
/*
.npi-background {
    background-color: #444444;
    display:block;
    margin: 0px;
    padding: 0px;
    border: 0px;
    opacity: 0.4;
}*/

.npi-text {
    color: #CCCCCC;
}




body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: black !important;
}

h2 {
    color: #FFFFFF;

}

h3 {
    font-weight: 500;
}


/*REAL STUFF ABOVE*/
/*
ul {
    list-style-type: none;
}

#my_outer_div {
    color: #00BB22;
    //background-color: #DDDDDD;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 400;
    font-size: 25px;
}

.my_inner_div {
    color: #00BB88;
    //background-color: #FFFFFF;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 5px solid #CCCCCC;
    padding: 10px;
    font-size: 20px;
}
*/
/* For bootstrap */
/*
.my_outer_div_bs {
    color: #00BB22;
    //background-color: #DDDDDD;
    font-weight: 400;
    font-size: 25px;
}

.my_inner_div_bs {
    color: #00BB88;
    //background-color: #FFFFFF;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 5px solid #CCCCCC;
    padding: 10px;
    font-size: 20px;
}

.small-text {
    font-size: 75%;
}

.white {
    color: white;
}
*/

