/* 
* When possible include css in html file to speed up DOM
* construction. Only add things to sepperate file when
* neccessary (like if used by multiple pages).
*/

* {
    /* To apply to all elements*/
    /*border: 1px solid red !important; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: black !important;
}

h2 {
    color: #FFFFFF;

}

hr {
    border: 1px white solid;
    margin: 5px 10px 5px 10px;
}

.bgimg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

.npi-container {
    border: 4px #999999 solid;
    border-radius: 10px;
    background-color: rgba(200, 200, 200, .25);
    display: table;
    /* Check media queries below for adjustments*/
}

.npi-text {
    color: #CCCCCC;
}

.npi-link {
    font-size: 125%;
}

.npi-img {
    margin: 10px;
}

.npi-active:hover {
    color: green;
}

/* Wide Screen Large desktops and laptops */
@media (min-width: 1600px) {
    .npi-padding {
        height: 540px;
    }
}

/* Very Large desktops and laptops */
@media (min-width: 1400px)  and (max-width: 1599px){
    .npi-padding {
        height: 400px;
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px)  and (max-width: 1399px){
    .npi-padding {
        height: 320px;
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .npi-container-text {
        height: 350px;
    }
    .npi-container-img {
        height: 350px;
    }
    .npi-logo {
        margin-top: 15px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .npi-container-text {
        height: 370px;
    }
    .npi-container-img {
        height: 370px;
    }
    .npi-padding {
        height: 330px;
    }
    .npi-logo {
        margin-top: 15px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .npi-container-text {
        height: 100%;
        margin-top: 15px;
    }
    .npi-container-img {
        height: 100%;
        margin-top: 15px;
    }
    .npi-padding {
        height: 1px;
    }
    .npi-logo {
        margin-top: 340px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .npi-container-text {
        height: 100%;
        margin-top: 15px;
    }
    .npi-container-img {
        height: 100%;
        margin-top: 15px;
    }
    .npi-padding {
        height: 1px;
    }
    .npi-logo {
        margin-top: 250px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .npi-container-text {
        height: 100%;
        margin-top: 15px;
    }
    .npi-container-img {
        height: 100%;
        margin-top: 15px;
    }
    .npi-padding {
        height: 1px;
    }
    .npi-logo {
        margin-top: 150px;
    }
}


